<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/public/style-home.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <title>Homepage</title>
</head>
<body>
    <header class="sectionTop">
        {{{header}}}
    </header>
    <main class="conteudo">
        <section class="banner">
            <div class="bannerTxt"> 
                <span>Pessoas unidas<br></span>
                <span>Uma boa comunidade<br></span>
                <span>Tudo esta por aqui<br></span>
            </div>
            <div class="subBanner">
                <h2 class="subText">Conecte-se com uma <strong>comunidade vibrante e unida.</strong></h2>
                <h2 class="subText">Descubra tudo o que voc&ecirc; precisa <strong>em um s&oacute; lugar.</strong></h2>
                <h2 class="subText">Junte-se a n&oacute;s e <strong>fa&ccedil;a parte da experi&ecirc;ncia!</strong></h2>
            </div>
            <button class="btnPost"><a href="/commits">Commmits page</a></button>
            <a href="/create-post">
                <button class="btnPost">Crie sua postagem aqui!</button>
            </a>
        </section>

        <section class="cardBox">
            {{#each posts}}
                <div class="card">
                    <div class="cardTop">
                        <div class="initTop">
                            <img class="pfpImg" src="/public/assets/pfp.svg">                
                            <h3 class="username">{{name_user}}</h3>
                            <h4 class="postTime">H {{post_date}}</h4>
                        </div>
                        <div class="endTop">
                            <h4 class="comentarios">(146)coment&aacuterios</h4>
                        </div>
                    </div>
                    <h5 class="cardText">{{post}}</h5>
                    {{#if post_image}}
                        <img src="data:image/jpeg;base64,{{post_image}}" width="400" height="200" alt="Post Image">
                    {{/if}}
                    {{#if post_video}}
                        <video src="data:video/mp4;base64,{{post_video}}" width="400" height="200" controls></video>
                    {{/if}}
                    <div class="cardBottom">
                        <div class="voteStyle">
                            <button class="upvote"><img class="upvoteImg" src="/public/assets/upvote.svg" alt="upvote">6.8k</button>
                            <button class="downvote"><img class="downvoteImg" src="/public/assets/downvote.svg" alt="downvote"></button>
                        </div>
                    </div>
                </div>    
            {{/each}}   
        </section>
    </main>
</body>
</html>