<!DOCTYPE html>
<html lang="en">
<head>
    {{{head}}}
    <link rel="stylesheet" type="text/css" href="/public/styles/stylesHome.css">
    <title>Homepage</title>
</head>
<body>
    <div class="dropdown">
        <button class="dropbtn" onclick="toggleDropdown()">
            <img id="toggleIcon" src="/public/assets/setaright.svg" alt="Toggle Icon">
            <span>Olá, Lucas</span>
        </button>
            <div id="myDropdown" class="dropdown-content">
            <a href="#" id="settings"><img src="/public/assets/settings.svg" alt="Seta"> Configurações</a>
            <a href="#" id="logout"><img src="/public/assets/logout.svg" alt="Logout Icon"> Logout</a>
        </div>
    </div>
    <header class="sectionTop">
    </header>
    <main class="conteudo">
        <section class="banner">
            <div class="bannerTxt"> 
                <span>Pessoas unidas<br></span>
                <span>Uma boa comunidade<br></span>
                <span>Tudo está por aqui<br></span>
            </div>
            <div class="subBanner">
                <h2 class="subText">Conecte-se com uma <strong>comunidade vibrante e unida.</strong></h2>
                <h2 class="subText">Descubra tudo o que você precisa <strong>em um só lugar.</strong></h2>
                <h2 class="subText">Junte-se a nós e <strong>faça parte da experiência!</strong></h2>
            </div>
            <button class="btnPost" id="openModal">Crie sua postagem aqui!</button>
            
        </section>

        <section class="cardBox">
            {{#each posts}}
                <div class="card">
                    <div class="cardTop">
                        <div class="initTop">
                            <img class="pfpImg" src="/public/assets/pfp.svg">                
                            <h3 class="username">{{name_user}}</h3>
                            <h4 class="postTime">H {{post_date}}</h4>
                        </div>
                        <div class="endTop">
                            <h4 class="comentarios">(146)comentários</h4>
                        </div>
                    </div>
                    <h5 class="cardText">{{post}}</h5>
                    {{#if post_image}}
                        <img src="data:image/jpeg;base64,{{post_image}}" width="400" height="200" alt="Post Image">
                    {{/if}}
                    {{#if post_video}}
                        <video src="data:video/mp4;base64,{{post_video}}" width="400" height="200" controls></video>
                    {{/if}}
                    <div class="cardBottom">
                        <div class="voteStyle">
                            <button id="upvote" class="upvote" data-post-id="{{id_posts}}">
                                <svg width="24" height="15" viewBox="0 0 24 15" xmlns="http://www.w3.org/2000/svg">
                                    <path class="upvotePath" d="M12.0681 0C12.7681 0 13.3681 0.3 13.7681 0.8L23.4681 11.8C24.1681 12.5 24.0681 13.7 23.3681 14.4C22.6681 15.1 21.4681 15 20.7681 14.3L20.6681 14.2L12.1681 4.6C12.0681 4.5 11.9681 4.5 11.7681 4.6L3.26811 14.2C2.56811 15 1.46811 15.1 0.668113 14.4C-0.131887 13.7 -0.231887 12.6 0.468113 11.8L0.568113 11.7L10.2681 0.7C10.7681 0.3 11.3681 0 12.0681 0Z" fill="#6272D6"/>
                                </svg>
                                {{post_votes}}
                            </button>

                            <button id="downvote" class="downvote" data-post-id="{{id_posts}}">
                                <svg width="24" height="17" viewBox="0 0 24 17" xmlns="http://www.w3.org/2000/svg">
                                    <path class="downvotePath" d="M0.252186 3.21466L11.2522 15.6847C11.3512 15.7894 11.4706 15.8728 11.603 15.9298C11.7354 15.9868 11.878 16.0162 12.0222 16.0162C12.1663 16.0162 12.309 15.9868 12.4414 15.9298C12.5737 15.8728 12.6931 15.7894 12.7922 15.6847L23.7922 3.21466C23.9555 3.00841 24.0309 2.74614 24.0022 2.48466C23.9913 2.35142 23.9539 2.22171 23.8921 2.1032C23.8302 1.98468 23.7453 1.87977 23.6422 1.79466L21.7922 0.244655C21.6911 0.157242 21.5736 0.090967 21.4465 0.0497456C21.3194 0.00852417 21.1853 -0.00680765 21.0522 0.00465538C20.9197 0.0142406 20.7904 0.0501278 20.672 0.110221C20.5535 0.170315 20.4482 0.253411 20.3622 0.354655L12.1922 9.80466C12.1416 9.85473 12.0733 9.88282 12.0022 9.88282C11.931 9.88282 11.8627 9.85473 11.8122 9.80466L3.64219 0.354655C3.48053 0.161567 3.25198 0.0365767 3.00219 0.00465538C2.86974 -0.00816924 2.73607 0.00556803 2.609 0.0450621C2.48193 0.0845561 2.36403 0.149013 2.26219 0.234655L0.362186 1.79466C0.259108 1.87977 0.174141 1.98468 0.112307 2.1032C0.0504733 2.22171 0.0130285 2.35142 0.00218648 2.48466C-0.0065681 2.61683 0.0110238 2.74942 0.0539406 2.87474C0.0968574 3.00006 0.164244 3.1156 0.252186 3.21466Z" fill="#6272D6"/>
                                </svg>
                            </button>
                        </div>
                        
                        {{!-- <p>id_posts, variavel ´para puxar o id_posts</p> --}}
                        <p class="voteText">{{user_vote}}</p>
                          
                    </div>
                </div>    
            {{/each}}   
        </section>


    </main>

    <div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <form id="postForm" action="/create-post" method="POST" enctype="multipart/form-data">
            <label for="content">Content</label>
            <textarea name="content" id="content" cols="30" rows="10"></textarea>
            <label for="file">File</label>
            <input type="file" name="file" id="file" accept="image/*,video/mp4">
            <button type="submit">Enter</button>
        </form>
    </div>
</div>
<script src="../public/scripts/scriptsHome.js"></script>
</body>
</html>