<!DOCTYPE html>
<html lang="en">
<head>
    {{{head}}}
    <link rel="stylesheet" type="text/css" href="/public/styles/stylesHome.css">
    <title>Homepage</title>
</head>
<body>
    <div class="dropdown">
        <div class="dropdown">
            <button class="dropbtn" onclick="toggleDropdown()">
                <img id="toggleIcon" src="/public/assets/setaright.svg" alt="Toggle Icon">
                <span>Olá, {{name_user}}</span> 
            </button>
                <div id="myDropdown" class="dropdown-content">
                <a href="/configuration" id="settings"><img src="/public/assets/settings.svg" alt="Seta"> Configurações</a>
                <a href="#" id="logout"><img src="/public/assets/logout.svg" alt="Logout Icon"> Logout</a>
            </div>
        </div>
    </div>
    <header class="sectionTop">
    </header>
    <main class="conteudo">
        <section class="banner">
            <div class="bannerTxt"> 
                <span>Pessoas unidas<br></span>
                <span>Uma boa comunidade<br></span>
                <span>Tudo está por aqui<br></span>
            </div>
            <div class="subBanner">
                <h2 class="subText">Conecte-se com uma <strong>comunidade vibrante e unida.</strong></h2>
                <h2 class="subText">Descubra tudo o que você precisa <strong>em um só lugar.</strong></h2>
                <h2 class="subText">Junte-se a nós e <strong>faça parte da experiência!</strong></h2>
            </div>
            <button class="btnPost" id="openModal">Crie sua postagem aqui!</button>
            
        </section>

        <section class="cardBox">
            {{#each posts}}
                <div class="card">
                    <div class="cardTop">
                        <div class="initTop">
                            <img class="pfpImg" src="data:image/jpeg;base64,{{avatar_image}}" width="50" height="50" alt="Avatar">                
                            <h3 class="username">{{name_user}}</h3>
                            <h4 class="postTime">Há {{post_date}}</h4>
                        </div>
                        <div class="endTop">
                            {{#if comment_count}}
                            <h4 class="comentarios">({{comment_count}}) Comentários</h4>
                            {{/if}}
                        </div>
                    </div>
                    {{#if post_title}}
                        <h4 class="cardText">titulo: {{post_title}}</h4>
                    {{/if}}
                    {{#if post}}
                        <h5 class="cardText">post: {{post}}</h5>
                    {{/if}}
                    {{#if post_image}}
                        <img src="data:image/jpeg;base64,{{post_image}}" width="400" height="200" alt="Post Image">
                    {{/if}}
                    {{#if post_video}}
                        <video src="data:video/mp4;base64,{{post_video}}" width="400" height="200" alt="Post Video" controls></video>
                    {{/if}}
                    <div class="cardBottom">
                        <div class="voteStyle">
                            <button id="upvote" class="upvote" data-post-id="{{id_posts}}">
                                <svg width="24" height="15" viewBox="0 0 24 15" xmlns="http://www.w3.org/2000/svg">
                                    <path class="upvotePath" d="M12.0681 0C12.7681 0 13.3681 0.3 13.7681 0.8L23.4681 11.8C24.1681 12.5 24.0681 13.7 23.3681 14.4C22.6681 15.1 21.4681 15 20.7681 14.3L20.6681 14.2L12.1681 4.6C12.0681 4.5 11.9681 4.5 11.7681 4.6L3.26811 14.2C2.56811 15 1.46811 15.1 0.668113 14.4C-0.131887 13.7 -0.231887 12.6 0.468113 11.8L0.568113 11.7L10.2681 0.7C10.7681 0.3 11.3681 0 12.0681 0Z" fill="#6272D6"/>
                                </svg>
                                {{post_votes}}
                            </button>

                            <button id="downvote" class="downvote" data-post-id="{{id_posts}}">
                                <svg width="24" height="17" viewBox="0 0 24 17" xmlns="http://www.w3.org/2000/svg">
                                    <path class="downvotePath" d="M0.252186 3.21466L11.2522 15.6847C11.3512 15.7894 11.4706 15.8728 11.603 15.9298C11.7354 15.9868 11.878 16.0162 12.0222 16.0162C12.1663 16.0162 12.309 15.9868 12.4414 15.9298C12.5737 15.8728 12.6931 15.7894 12.7922 15.6847L23.7922 3.21466C23.9555 3.00841 24.0309 2.74614 24.0022 2.48466C23.9913 2.35142 23.9539 2.22171 23.8921 2.1032C23.8302 1.98468 23.7453 1.87977 23.6422 1.79466L21.7922 0.244655C21.6911 0.157242 21.5736 0.090967 21.4465 0.0497456C21.3194 0.00852417 21.1853 -0.00680765 21.0522 0.00465538C20.9197 0.0142406 20.7904 0.0501278 20.672 0.110221C20.5535 0.170315 20.4482 0.253411 20.3622 0.354655L12.1922 9.80466C12.1416 9.85473 12.0733 9.88282 12.0022 9.88282C11.931 9.88282 11.8627 9.85473 11.8122 9.80466L3.64219 0.354655C3.48053 0.161567 3.25198 0.0365767 3.00219 0.00465538C2.86974 -0.00816924 2.73607 0.00556803 2.609 0.0450621C2.48193 0.0845561 2.36403 0.149013 2.26219 0.234655L0.362186 1.79466C0.259108 1.87977 0.174141 1.98468 0.112307 2.1032C0.0504733 2.22171 0.0130285 2.35142 0.00218648 2.48466C-0.0065681 2.61683 0.0110238 2.74942 0.0539406 2.87474C0.0968574 3.00006 0.164244 3.1156 0.252186 3.21466Z" fill="#6272D6"/>
                                </svg>
                            </button>
                        </div>
                        
                        <p class="voteText">{{user_vote}}</p>

                        {{#if is_owner}}
                            <button id="deletePost" class="deletePost" data-post-id="{{id_posts}}">
                                <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path class="deletePath" d="M12 0C5.373 0 0 5.373 0 12s5.373 12 12 12 12-5.373 12-12S18.627 0 12 0zm0 22.5c-5.238 0-9.5-4.262-9.5-9.5S6.762 3.5 12 3.5s9.5 4.262 9.5 9.5-4.262 9.5-9.5 9.5zm3.536-14.464c.39.39.39 1.024 0 1.414-.39.39-1.024.39-1.414 0L12 13.414l-2.122 2.122c-.39.39-1.024.39-1.414 0-.39-.39-.39-1.024 0-1.414L10.586 12 8.464 9.878c-.39-.39-.39-1.024 0-1.414.39-.39 1.024-.39 1.414 0L12 10.586l2.122-2.122c.39-.39 1.024-.39 1.414 0 .39.39.39 1.024 0 1.414L13.414 12l2.122 2.122z" fill="#6272D6"/>
                                </svg>
                            </button>
                            <button id="editPost" class="editPost" data-post-id="{{id_posts}}">
                                <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path class="editPath" d="M21.707 2.293c-.39-.39-1.024-.39-1.414 0L 3.707 19.293c-.39.39-.39 1.024 0 1.414.39.39 1.024.39 1.414 0L21.707 3.707c.39-.39.39-1.024 0-1.414zM5 18.414V20h1.586l9.793-9.793-1.586-1.586L5 18.414zm12.793-10.207l-1.586-1.586L14 8.414l1.586 1.586 1.207-1.207z" fill="#6272D6"/>
                                </svg>
                            </button>
                        {{/if}}
                            <button id="commentPost" class="commentPost" data-post-id="{{id_posts}}">
                                <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path class="commentPost" d="M21.707 2.293c-.39-.39-1.024-.39-1.414 0L 3.707 19.293c-.39.39-.39 1.024 0 1.414.39.39 1.024.39 1.414 0L21.707 3.707c.39-.39.39-1.024 0-1.414zM5 18.414V20h1.586l9.793-9.793-1.586-1.586L5 18.414zm12.793-10.207l-1.586-1.586L14 8.414l1.586 1.586 1.207-1.207z" fill="#FFAA00"/>
                                </svg>
                            </button>
                    </div>
                </div>    
            {{/each}}   
        </section>



    </main>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="diviserIcon">
                <svg width="30" height="30" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="3.5" y="3.5" width="39" height="39" stroke="black"/>
                    <path d="M9.66667 42.9998H36.3333C34.1111 42.9998 29.6667 41.6665 29.6667 36.3331V31.8887H3V36.3331C3 41.6665 7.44444 42.9998 9.66667 42.9998Z" fill="#6272D6"/>
                    <path d="M7.44444 25.2222V7.44444C7.44444 4.9898 9.43424 2.99981 11.8889 3H38.5556C41.0102 3 43 4.9898 43 7.44444V36.3333C43 38.5556 41.6667 43 36.3333 43M36.3333 43H9.66667C7.44444 43 3 41.6667 3 36.3333V31.8889H29.6667V36.3333C29.6667 41.6667 34.1111 43 36.3333 43Z" stroke="#6272D6" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <div class="diviser1">
                <h3 class="titleModal">Criar postagem</h3>
                <form id="postForm" action="/create-post" method="POST" enctype="multipart/form-data">
                    <label for="title">Título</label>
                    <div class="styleInput">
                        <svg class="iconInput" width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 3.22831C0 1.44533 1.44533 0 3.22831 0H18.2937C20.0767 0 21.5221 1.44533 21.5221 3.22831V13.9893C21.5221 15.7722 20.0766 17.2176 18.2937 17.2176H14.8803C14.595 17.2177 14.3213 17.3311 14.1195 17.533L12.2827 19.3699C11.4422 20.2101 10.0799 20.2101 9.23938 19.3699L7.40251 17.533C7.20074 17.3311 6.92704 17.2177 6.64173 17.2176H3.22831C1.44533 17.2177 0 15.7723 0 13.9893V3.22831ZM5.38051 3.22831C4.55212 3.22831 4.03438 4.12506 4.44862 4.84246C4.64088 5.17545 4.9961 5.38051 5.38051 5.38051H16.1415C16.9699 5.38051 17.4877 4.48376 17.0734 3.76636C16.8813 3.43337 16.526 3.22831 16.1415 3.22831H5.38051ZM5.38051 7.53272C4.55212 7.53272 4.03438 8.42947 4.44862 9.14687C4.64078 9.47977 4.9961 9.68492 5.38051 9.68492H16.1415C16.9699 9.68492 17.4877 8.78817 17.0734 8.07077C16.8813 7.73778 16.526 7.53272 16.1415 7.53272H5.38051ZM5.38051 11.8371C4.55212 11.8371 4.03438 12.7339 4.44862 13.4513C4.64078 13.7843 4.99601 13.9893 5.38051 13.9893H9.68492C10.5133 13.9892 11.0311 13.0925 10.6168 12.3751C10.4246 12.0422 10.0693 11.8371 9.68492 11.8371H5.38051Z" fill="#4A569C"/>
                        </svg>
                        <input type="text" name="title" id="title" placeholder="Título da postagem">
                    </div>
                    <label for="content">Descrição</label>
                    <div class="styleInput">
                        <svg class="iconInput" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 3.33333C0 1.49235 1.49235 0 3.33333 0H16.6667C18.5077 0 20 1.49235 20 3.33333V16.6667C20 18.5077 18.5077 20 16.6667 20H3.33333C1.49235 20 0 18.5077 0 16.6667V3.33333ZM5.55553 4.44447C4.70025 4.44685 4.1682 5.37423 4.59787 6.11378C4.79626 6.4551 5.1608 6.66556 5.55553 6.66667H14.4445C15.2997 6.66905 15.8369 5.74456 15.4113 5.00264C15.2127 4.65646 14.8436 4.44337 14.4445 4.44447H5.55553ZM5.55553 8.88886C4.70025 8.88656 4.16309 9.81097 4.58869 10.5529C4.78733 10.8991 5.15638 11.1122 5.55553 11.1111H14.4445C15.2997 11.1135 15.8369 10.189 15.4113 9.44711C15.2127 9.10085 14.8436 8.88775 14.4445 8.88886H5.55553ZM5.55553 13.3333C4.70025 13.331 4.16309 14.2554 4.58869 14.9974C4.78733 15.3435 5.15638 15.5566 5.55553 15.5555H10C10.8554 15.5579 11.3925 14.6335 10.9668 13.8916C10.7682 13.5453 10.3991 13.3322 10 13.3333H5.55553Z" fill="#4A569C"/>
                        </svg>
                        <textarea name="content" id="content" cols="30" rows="10" placeholder="Descrição da postagem"></textarea>
                    </div>
                    <label for="file">Arquivos (mp4, jpeg até 10mb)</label>
                    <div class="styleFileInput">
                        <svg class="iconFile" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 3C0 1.34311 1.34311 0 3 0H17C18.6569 0 20 1.34311 20 3V9.5C19.9999 9.58435 19.9892 9.66837 19.968 9.75C19.9892 9.83163 19.9999 9.91565 20 10V17C20 18.6568 18.6568 19.9999 17 20H3C1.34311 20.0001 0 18.6569 0 17V14C8.5034e-05 13.9156 0.0107993 13.8316 0.0319728 13.75C0.0108843 13.6684 8.5034e-05 13.5844 0 13.5V3ZM2.99396 12.83C2.646 12.836 2.31403 12.852 2 12.876V3C2 2.4477 2.4477 2 3 2H17C17.5523 2 18 2.4477 18 3V9.01599C13.703 9.15502 10.6 10.19 8.41998 11.639C9.246 11.932 10.17 12.349 11.076 12.895C12.475 13.735 13.897 14.9151 14.854 16.478C15.2559 17.1346 14.7962 17.98 14.0265 17.9997C13.6694 18.0088 13.3345 17.8268 13.148 17.522C12.412 16.319 11.27 15.344 10.046 14.609C8.82398 13.875 7.58104 13.417 6.71896 13.217C5.50468 12.9397 4.26139 12.8101 3.01599 12.831L2.99396 12.83ZM4.97798 4.48801C5.42372 4.17398 5.95476 4.00366 6.5 4C6.91003 4 7.50298 4.11497 8.02202 4.48801C8.59201 4.89804 9 5.57398 9 6.5C9 7.42602 8.59201 8.10102 8.02202 8.51097C7.57636 8.82543 7.04532 8.996 6.5 9C6.08997 9 5.49702 8.88503 4.97798 8.51097C4.40799 8.10102 4 7.42704 4 6.5C4 5.57398 4.40799 4.89898 4.97798 4.48801Z" fill="#4A569C"/>
                        </svg>
                        <label class="fileDesc" for="file">Arquivos da postagem</label>
                        <input type="file" name="file" id="file" accept="image/*,video/mp4">                        
                    </div>
            </div>
            <div class="diviser2">
                    <span class="close" id="close">                    
                        <svg width="30" height="30" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path id="closeIcon" d="M20.5 20.5L3 3M20.5 20.5L38 38M20.5 20.5L38 3M20.5 20.5L3 38" stroke="#6272D6" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </span>
                    <button type="submit" class="btnSubmit" form="postForm">
                        <svg class="btnIcon" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.34596 0.245057C0.651227 -0.0200745 1.08608 -0.0753457 1.4479 0.105094L19.4457 9.10401C20.1347 9.44737 20.1935 10.4077 19.5518 10.8326C19.5177 10.8552 19.4823 10.8756 19.4457 10.8938L1.4479 19.8928C0.759473 20.2372 -0.0435749 19.7073 0.00234271 18.939C0.0075297 18.8515 0.0242811 18.7651 0.0520018 18.6819L2.6137 10.9988H8.00009C8.7698 10.9988 9.25083 10.1656 8.86606 9.49899C8.68741 9.18964 8.35731 8.999 8.00009 8.999H2.6137L0.0510664 1.31596C-0.0763975 0.932376 0.0405224 0.509764 0.34596 0.245057Z"/>
                        </svg>
                        Criar
                    </button>
                </form>
            </div>     
        </div>
    </div>       

<script src="../public/scripts/scriptsHome.js"></script>
</body>
</html>