<!DOCTYPE html>
<html lang="en">
<head>
    {{{head}}}
    <link rel="stylesheet" type="text/css" href="/public/styles/stylesHome.css">
    <title>Homepage</title>
</head>
<body>
    <header class="sectionTop">
        <p class="section1" style="opacity: 0">
            dropbtn
        </p>
        <p class="section2 github">
            <img class="logoGithub" src="/public/assets/github.svg" alt="github">
            <span class="textGithub">Github</span>
        </p>
        <a class="section3" href="/commits">
            <p class="update">Atualizações</p>
        </a> 
    </header>
    <div class="dropdown">
        <div class="dropdown">
            <button class="dropbtn" onclick="toggleDropdown()">
                <img id="toggleIcon" src="/public/assets/setaright.svg" alt="Toggle Icon">
                <span>Olá, {{name_user}}</span> 
            </button>
                <div id="myDropdown" class="dropdown-content">
                <a href="/configuration" id="settings"><img src="/public/assets/settings.svg" alt="Seta"> Configurações</a>
                <a href="#" id="logout"><img src="/public/assets/logout.svg" alt="Logout Icon"> Sair da conta</a>
            </div>
        </div>
    </div>
    <main class="conteudo">
        <section class="banner">
            <div class="bannerTxt"> 
                <span>Pessoas unidas<br></span>
                <span>Uma boa comunidade<br></span>
                <span>Tudo está por aqui<br></span>
            </div>
            <div class="subBanner">
                <h2 class="subText">Conecte-se com uma <strong>comunidade vibrante e unida.</strong> Descubra tudo o que você precisa <strong>em um só lugar.</strong> Junte-se a nós e <strong>faça parte da experiência!</strong></h2>
            <button class="btnPost" id="openModal">Crie sua postagem aqui!<img class="logoGithub" src="/public/assets/create.svg" alt="github"></button>
        </section>

        <section class="cardBox">
            {{#each posts}}
                <div class="card">

                    <div class="cardTop">
                        <div class="initTop">
                            <img class="pfpImg" src="data:image/jpeg;base64,{{avatar_image}}" width="50" height="50" alt="Avatar">                
                            <h3 class="username">{{name_user}} <span>• {{post_date}} atrás</span></h3>
                        </div>
                        {{#if is_owner}}
                            <div class="optionConfig">
                                <div class="options" onclick="toggleOptions(this)">
                                    <svg width="5" height="23" viewBox="0 0 5 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M2.5 17.5C3.16304 17.5 3.79893 17.7634 4.26777 18.2322C4.73661 18.7011 5 19.337 5 20C5 20.663 4.73661 21.2989 4.26777 21.7678C3.79893 22.2366 3.16304 22.5 2.5 22.5C1.83696 22.5 1.20107 22.2366 0.732233 21.7678C0.263392 21.2989 0 20.663 0 20C0 19.337 0.263392 18.7011 0.732233 18.2322C1.20107 17.7634 1.83696 17.5 2.5 17.5ZM2.5 8.75C3.16304 8.75 3.79893 9.01339 4.26777 9.48223C4.73661 9.95107 5 10.587 5 11.25C5 11.913 4.73661 12.5489 4.26777 13.0178C3.79893 13.4866 3.16304 13.75 2.5 13.75C1.83696 13.75 1.20107 13.4866 0.732233 13.0178C0.263392 12.5489 0 11.913 0 11.25C0 10.587 0.263392 9.95107 0.732233 9.48223C1.20107 9.01339 1.83696 8.75 2.5 8.75ZM2.5 0C3.16304 0 3.79893 0.263392 4.26777 0.732233C4.73661 1.20107 5 1.83696 5 2.5C5 3.16304 4.73661 3.79893 4.26777 4.26777C3.79893 4.73661 3.16304 5 2.5 5C1.83696 5 1.20107 4.73661 0.732233 4.26777C0.263392 3.79893 0 3.16304 0 2.5C0 1.83696 0.263392 1.20107 0.732233 0.732233C1.20107 0.263392 1.83696 0 2.5 0Z" fill="white"/>
                                    </svg>
                                </div>
                                <div class="subOption">
                                    <li id="editPost" class="editPost" data-post-id="{{id_posts}}">Editar postagem</li>
                                    <li onclick="confirmDelete(this)">Deletar postagem</li>
                                    <div class="confirmDelete">
                                        <p>Você tem certeza?</p>
                                        <button onclick="cancelDelete(this)">Não</button>
                                        <button id="deletePost" class="deletePost" data-post-id="{{id_posts}}">Sim</button>
                                    </div>
                                </div>
                            </div>
                        {{/if}}
                    </div>
                    
                    {{#if post_title}}
                        <h4 class="cardTextTitle">{{post_title}}</h4>
                    {{/if}}
                    {{#if post}}
                        <h5 class="cardTextDescri">{{post}}</h5>
                    {{/if}}
                    {{#if post_image}}
                        <img class="cardTextImg" src="data:image/jpeg;base64,{{post_image}}" width="400" height="200" alt="Post Image">
                    {{/if}}
                    {{#if post_video}}
                        <video src="data:video/mp4;base64,{{post_video}}" width="400" height="200" alt="Post Video" controls></video>
                    {{/if}}
                    <div class="cardBottom">
                        <div class="voteStyle">
                            <button id="upvote" class="upvote" data-post-id="{{id_posts}}">
                                <svg width="17" height="21" viewBox="0 0 19 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path class="upvotePath" d="M13.6546 21.3901V12.2495H17.1627C17.2962 12.2508 17.4273 12.214 17.5406 12.1434C17.6538 12.0729 17.7447 11.9715 17.8024 11.8512C17.8602 11.7309 17.8825 11.5966 17.8666 11.4641C17.8508 11.3315 17.7975 11.2063 17.7131 11.1029L9.98618 1.25919C9.91925 1.17806 9.8352 1.11274 9.74006 1.06789C9.64492 1.02305 9.54105 0.999792 9.43587 0.999792C9.33069 0.999792 9.22682 1.02305 9.13168 1.06789C9.03654 1.11274 8.95249 1.17806 8.88556 1.25919L1.15868 11.1029C1.07422 11.2063 1.02095 11.3315 1.00512 11.4641C0.989287 11.5966 1.01155 11.7309 1.0693 11.8512C1.12705 11.9715 1.21789 12.0729 1.33119 12.1434C1.44449 12.214 1.57554 12.2508 1.709 12.2495H5.21712L5.21712 21.3901C5.21749 21.4828 5.23611 21.5746 5.27193 21.6601C5.30775 21.7456 5.36006 21.8232 5.42587 21.8885C5.49169 21.9538 5.56971 22.0055 5.6555 22.0406C5.74129 22.0757 5.83316 22.0936 5.92587 22.0933H12.9459C13.0386 22.0936 13.1304 22.0757 13.2162 22.0406C13.302 22.0055 13.3801 21.9538 13.4459 21.8885C13.5117 21.8232 13.564 21.7456 13.5998 21.6601C13.6356 21.5746 13.6543 21.4828 13.6546 21.3901Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </button>
                                <p class="post_votes">{{post_votes}}</p> 
                            <button id="downvote" class="downvote" data-post-id="{{id_posts}}">
                                <svg width="17" height="21" viewBox="0 0 19 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path class="downvotePath" d="M5.21696 1.70313V10.8438H1.70884C1.57538 10.8425 1.44433 10.8793 1.33103 10.9498C1.21774 11.0204 1.12689 11.1217 1.06914 11.2421C1.01139 11.3624 0.989127 11.4967 1.00496 11.6292C1.02079 11.7617 1.07406 11.887 1.15852 11.9903L8.8854 21.8341C8.95234 21.9152 9.03638 21.9805 9.13152 22.0254C9.22666 22.0702 9.33053 22.0935 9.43571 22.0935C9.54089 22.0935 9.64477 22.0702 9.7399 22.0254C9.83504 21.9805 9.91909 21.9152 9.98602 21.8341L17.7129 11.9903C17.7974 11.887 17.8506 11.7617 17.8665 11.6292C17.8823 11.4967 17.86 11.3624 17.8023 11.2421C17.7445 11.1217 17.6537 11.0204 17.5404 10.9498C17.4271 10.8793 17.296 10.8425 17.1626 10.8438H13.6545V1.70313C13.6541 1.61043 13.6355 1.5187 13.5997 1.43319C13.5638 1.34769 13.5115 1.27007 13.4457 1.20478C13.3799 1.13949 13.3019 1.0878 13.2161 1.05266C13.1303 1.01753 13.0384 0.999636 12.9457 1.00001H5.92571C5.83301 0.999636 5.74114 1.01753 5.65535 1.05266C5.56956 1.0878 5.49153 1.13949 5.42571 1.20478C5.3599 1.27007 5.30759 1.34769 5.27177 1.43319C5.23596 1.5187 5.21733 1.61043 5.21696 1.70313Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </button>
                        </div>  

                        <p class="voteText">{{user_vote}}</p>
                        
                        <btn class="commentCont commentPost" id="commentPost" data-post-id="{{id_posts}}">
                            <p class="post_votes">{{comment_count}}</p>
                            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M22.0215 19.0918H11.7676L5.9082 23.4863V19.0918H2.97852C2.19727 19.0918 1.51367 18.4082 1.51367 17.627V2.97852C1.51367 2.19727 2.19727 1.51367 2.97852 1.51367H22.0215C22.8027 1.51367 23.4863 2.19727 23.4863 2.97852V17.627C23.4863 18.4082 22.8027 19.0918 22.0215 19.0918Z" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </btn>                       
                    </div>
                </div>    
            {{/each}}   
        </section>



    </main>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="diviserIcon">
                <svg width="30" height="30" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="3.5" y="3.5" width="39" height="39" stroke="black"/>
                    <path d="M9.66667 42.9998H36.3333C34.1111 42.9998 29.6667 41.6665 29.6667 36.3331V31.8887H3V36.3331C3 41.6665 7.44444 42.9998 9.66667 42.9998Z" fill="#6272D6"/>
                    <path d="M7.44444 25.2222V7.44444C7.44444 4.9898 9.43424 2.99981 11.8889 3H38.5556C41.0102 3 43 4.9898 43 7.44444V36.3333C43 38.5556 41.6667 43 36.3333 43M36.3333 43H9.66667C7.44444 43 3 41.6667 3 36.3333V31.8889H29.6667V36.3333C29.6667 41.6667 34.1111 43 36.3333 43Z" stroke="#6272D6" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <div class="diviser1">
                <h3 class="titleModal">Criar postagem</h3>
                <form id="postForm" action="/create-post" method="POST" enctype="multipart/form-data">
                    <label for="title">Título</label>
                    <div class="styleInput">
                        <svg class="iconInput" width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 3.22831C0 1.44533 1.44533 0 3.22831 0H18.2937C20.0767 0 21.5221 1.44533 21.5221 3.22831V13.9893C21.5221 15.7722 20.0766 17.2176 18.2937 17.2176H14.8803C14.595 17.2177 14.3213 17.3311 14.1195 17.533L12.2827 19.3699C11.4422 20.2101 10.0799 20.2101 9.23938 19.3699L7.40251 17.533C7.20074 17.3311 6.92704 17.2177 6.64173 17.2176H3.22831C1.44533 17.2177 0 15.7723 0 13.9893V3.22831ZM5.38051 3.22831C4.55212 3.22831 4.03438 4.12506 4.44862 4.84246C4.64088 5.17545 4.9961 5.38051 5.38051 5.38051H16.1415C16.9699 5.38051 17.4877 4.48376 17.0734 3.76636C16.8813 3.43337 16.526 3.22831 16.1415 3.22831H5.38051ZM5.38051 7.53272C4.55212 7.53272 4.03438 8.42947 4.44862 9.14687C4.64078 9.47977 4.9961 9.68492 5.38051 9.68492H16.1415C16.9699 9.68492 17.4877 8.78817 17.0734 8.07077C16.8813 7.73778 16.526 7.53272 16.1415 7.53272H5.38051ZM5.38051 11.8371C4.55212 11.8371 4.03438 12.7339 4.44862 13.4513C4.64078 13.7843 4.99601 13.9893 5.38051 13.9893H9.68492C10.5133 13.9892 11.0311 13.0925 10.6168 12.3751C10.4246 12.0422 10.0693 11.8371 9.68492 11.8371H5.38051Z" fill="#4A569C"/>
                        </svg>
                        <input type="text" name="title" id="title" placeholder="Título da postagem">
                    </div>
                    <label for="content">Descrição</label>
                    <div class="styleInput">
                        <svg class="iconInput" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 3.33333C0 1.49235 1.49235 0 3.33333 0H16.6667C18.5077 0 20 1.49235 20 3.33333V16.6667C20 18.5077 18.5077 20 16.6667 20H3.33333C1.49235 20 0 18.5077 0 16.6667V3.33333ZM5.55553 4.44447C4.70025 4.44685 4.1682 5.37423 4.59787 6.11378C4.79626 6.4551 5.1608 6.66556 5.55553 6.66667H14.4445C15.2997 6.66905 15.8369 5.74456 15.4113 5.00264C15.2127 4.65646 14.8436 4.44337 14.4445 4.44447H5.55553ZM5.55553 8.88886C4.70025 8.88656 4.16309 9.81097 4.58869 10.5529C4.78733 10.8991 5.15638 11.1122 5.55553 11.1111H14.4445C15.2997 11.1135 15.8369 10.189 15.4113 9.44711C15.2127 9.10085 14.8436 8.88775 14.4445 8.88886H5.55553ZM5.55553 13.3333C4.70025 13.331 4.16309 14.2554 4.58869 14.9974C4.78733 15.3435 5.15638 15.5566 5.55553 15.5555H10C10.8554 15.5579 11.3925 14.6335 10.9668 13.8916C10.7682 13.5453 10.3991 13.3322 10 13.3333H5.55553Z" fill="#4A569C"/>
                        </svg>
                        <textarea name="content" id="content" cols="30" rows="10" placeholder="Descrição da postagem"></textarea>
                    </div>
                    <label for="file">Arquivos (mp4, jpeg até 10mb)</label>
                    <div class="styleFileInput">
                        <svg class="iconFile" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 3C0 1.34311 1.34311 0 3 0H17C18.6569 0 20 1.34311 20 3V9.5C19.9999 9.58435 19.9892 9.66837 19.968 9.75C19.9892 9.83163 19.9999 9.91565 20 10V17C20 18.6568 18.6568 19.9999 17 20H3C1.34311 20.0001 0 18.6569 0 17V14C8.5034e-05 13.9156 0.0107993 13.8316 0.0319728 13.75C0.0108843 13.6684 8.5034e-05 13.5844 0 13.5V3ZM2.99396 12.83C2.646 12.836 2.31403 12.852 2 12.876V3C2 2.4477 2.4477 2 3 2H17C17.5523 2 18 2.4477 18 3V9.01599C13.703 9.15502 10.6 10.19 8.41998 11.639C9.246 11.932 10.17 12.349 11.076 12.895C12.475 13.735 13.897 14.9151 14.854 16.478C15.2559 17.1346 14.7962 17.98 14.0265 17.9997C13.6694 18.0088 13.3345 17.8268 13.148 17.522C12.412 16.319 11.27 15.344 10.046 14.609C8.82398 13.875 7.58104 13.417 6.71896 13.217C5.50468 12.9397 4.26139 12.8101 3.01599 12.831L2.99396 12.83ZM4.97798 4.48801C5.42372 4.17398 5.95476 4.00366 6.5 4C6.91003 4 7.50298 4.11497 8.02202 4.48801C8.59201 4.89804 9 5.57398 9 6.5C9 7.42602 8.59201 8.10102 8.02202 8.51097C7.57636 8.82543 7.04532 8.996 6.5 9C6.08997 9 5.49702 8.88503 4.97798 8.51097C4.40799 8.10102 4 7.42704 4 6.5C4 5.57398 4.40799 4.89898 4.97798 4.48801Z" fill="#4A569C"/>
                        </svg>
                        <input type="file" name="file" id="file" accept="image/*,video/mp4">
                        <label for="file" id="file-name">Selecione uma imagem/vídeo</label>
                        <div id="clear-input">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" id="icon-bin" height="24" width="24"><path stroke="#be4c48" stroke-linecap="round" stroke-linejoin="round" d="M1 5h22" stroke-width="1.5"></path><path stroke="#be4c48" stroke-linecap="round" stroke-linejoin="round" d="M14.25 1h-4.5c-0.39782 0 -0.77936 0.15804 -1.06066 0.43934C8.40804 1.72064 8.25 2.10218 8.25 2.5V5h7.5V2.5c0 -0.39782 -0.158 -0.77936 -0.4393 -1.06066C15.0294 1.15804 14.6478 1 14.25 1Z" stroke-width="1.5"></path><path stroke="#be4c48" stroke-linecap="round" stroke-linejoin="round" d="M9.75 17.75v-7.5" stroke-width="1.5"></path><path stroke="#be4c48" stroke-linecap="round" stroke-linejoin="round" d="M14.25 17.75v-7.5" stroke-width="1.5"></path><path stroke="#be4c48" stroke-linecap="round" stroke-linejoin="round" d="M18.86 21.62c-0.0278 0.3758 -0.197 0.7271 -0.4735 0.9832 -0.2764 0.256 -0.6397 0.3978 -1.0165 0.3968H6.63c-0.37683 0.001 -0.74006 -0.1408 -1.01653 -0.3968 -0.27647 -0.2561 -0.44565 -0.6074 -0.47347 -0.9832L3.75 5h16.5l-1.39 16.62Z" stroke-width="1.5"></path></svg>
                        </div>                                         
                    </div>
                    <div class="buttons">
                        <span id="cancel" class="cancelSpan">
                            Cancelar
                        </span> 
                        <button type="submit" class="btnSubmit" id="submit-btn" form="postForm" disabled>
                            <svg class="btnIcon" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.34596 0.245057C0.651227 -0.0200745 1.08608 -0.0753457 1.4479 0.105094L19.4457 9.10401C20.1347 9.44737 20.1935 10.4077 19.5518 10.8326C19.5177 10.8552 19.4823 10.8756 19.4457 10.8938L1.4479 19.8928C0.759473 20.2372 -0.0435749 19.7073 0.00234271 18.939C0.0075297 18.8515 0.0242811 18.7651 0.0520018 18.6819L2.6137 10.9988H8.00009C8.7698 10.9988 9.25083 10.1656 8.86606 9.49899C8.68741 9.18964 8.35731 8.999 8.00009 8.999H2.6137L0.0510664 1.31596C-0.0763975 0.932376 0.0405224 0.509764 0.34596 0.245057Z"/>
                            </svg>
                            Criar
                        </button>
                    </div>
                    <span id="title-error" class="hide-error">O post deve ter um título.</span>                    
            </div>
            <div class="diviser2">
                    <span class="close" id="close">                    
                        <svg width="30" height="30" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path id="closeIcon" d="M20.5 20.5L3 3M20.5 20.5L38 38M20.5 20.5L38 3M20.5 20.5L3 38" stroke="#6272D6" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </span>
                    <div id="preview"></div>
                </form>                      
            </div>     
        </div>
    </div>       

<script src="../public/scripts/scriptsHome.js"></script>
</body>
</html>